<div class="col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-12">
    <h1>Statuses</h1>
    <div class="border_custom"></div>
    <div class="new-stat">
      <%= link_to 'New Status', new_status_path, {:class => 'btn btn-primary'}%>
    </div>
</div>
<% @statuses.each do |status| %>
    <% if can_display_status?(status) %>
        <div class="row wrapper-statuses" style="clear: left;">
            <div class="wrapper_gravatar col-sm-2 col-md-1 col-lg-1">
              <%= avatar_profile_link status.user, {class:'img-circle', width: '100px', height: '100px'},class: 'high-test' %>
            </div>
            <div class="col-sm-8 col-lg-9 col-lg-9">
                <div class="status">
                  <h3><%= status.user.full_name %></h3>
                  <p><%= status.content %></p>
                  <%= show_file(status) %>
                  <div class="links-buttons">
                    <%= link_to time_ago_in_words(status.created_at) + ' ago', status %>
                    <% if signed_in? && current_user == status.user %>
                    <span class="admin">
                      | <%= link_to 'Edit', edit_status_path(status) %>
                      | <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure you want to delete? We own it.' } %>
                    </span>
                        <% end %>
                  </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
