<div class="col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-12">
  <% if signed_in? && current_user == @user %>
    <p><%= link_to 'Share new pic', new_album_picture_path(current_user, @album),class: 'btn btn-primary' %></p>
  <% end %>
  <h1><%= @album.title %></h1>
  <hr>
</div>
<div class="col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-12">

    <% @pictures.each do |picture| %>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(picture.asset.url(:small)), album_picture_path(@user, @album, picture) %>
          <div class="caption" style="text-align: center">
            <% if picture.caption? %>
                <h4><%= picture.caption %></h4>
            <% end %>
            <% if picture.description? %>
                <p><%= picture.description %></p>
            <% end %>
            <p>
              <%=  link_to 'Full size', album_picture_path(@user, @album, picture), class: 'btn btn-success' %>
              <% if can_edit_picture?(picture) %>
                  |<%= link_to 'Edit', edit_album_picture_path(@album, picture), class: 'btn btn-warning' %>
                  |<%= link_to 'Delete', album_picture_path(@album, picture), method: :delete,
                              data: {confirm: 'are you sure?'}, class: 'btn btn-danger' %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
</div>
