<div class="col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-12">

  <%= image_tag(@picture.asset.url(:large),
                alt: @picture.caption,
                class: 'img-polaroid') %>
<h3>
  <%= @picture.caption %>
</h3>

<p>
  <%= @picture.description %>
</p>

<%= link_to 'Edit', edit_album_picture_path(@album, @picture), class: 'btn btn-warning' %> |
<%= link_to 'Back', album_pictures_path, class: 'btn btn-default' %>
</div>