<!DOCTYPE html>
<html>
<head>
  <title>FriendFace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link  rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cookie">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>
<div class="container-fluid custom-padd">
  <div class="row row-main-custom">
    <div class="col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
        <%= render_breadcrumbs(nil) %>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
        <% flash.each do |type, message| %>
        <% if flash[:notice] %>
            <div class="alert <%= flash_class(type.to_s) %>" role="alert">
              <button class="close" data-dismiss="alert">x</button>
              <%= message %>
            </div>
        <% end %>
        <% end %>
      </div>

    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
